<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="register.css">
</head>

<body>
        
    <header>
        <h2>Student Portal</h2>
            <nav>
                <ul>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/">Login</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>
    </header>

    <div class="main_container">

        <h3>Register</h3>
        <form autocomplete="off">
            <ul>
                <li>
                    <label for="email">E-mail:</label>
                        <input type="text" id="email" name="email" >
                        <% if (msg!=0 && msg.email.length>0){ %>
                            <div class="error_container">
                                <% for (let i=0; i<msg.email.length; i++){ %>
                                    <p class="error"> <%= msg.email[i] %> </p>
                                <% } %>
                            </div>
                        <% } %>
                </li>
                    
                <li>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password"  >
                </li>

                <li>
                    <label for="password_confirm">Confirm Password:</label>
                    <input type="password" id="password_confirm" name="password_confirm" >
                    <% if (msg!=0 && msg.password.length>0){ %>
                        <div class="error_container">
                            <p class="strength"><%= msg.password[0] %></p>
                            <p class="error"> <%= msg.password[1] %> </p>
                        </div>
                    <% } %>
                </li>
                    
                <li>
                    <label for="dob">Date of Birth:</label>
                    <input type="date" id="dob" name="dob"  >
                </li>

                <li class="name_input">
                    <label>Name:</label><br>
                    <input type="text" id="f_name" placeholder="First" name="f_name" >
                    <input type="text" id="l_name" placeholder="Last" name="l_name" >
                </li>

                <li>
                    <label for="phone">Phone:</label>
                    <input type="text" id="phone" name="phone" >
                    <% if (msg!=0 && msg.phone.length>0){ %>
                        <div class="error_container">
                            <p class="error"><%= msg.phone[0] %></p>
                        </div>
                    <% } %>
                </li>

                <li style="display:flex;flex-direction: column;">
                    <button>Submit</button>
                </li>

                    
            </ul>
        </form>
    </div>
    <%- include("./partials/footer.ejs") %>
    
    <script>
        const form = document.querySelector("form")
        form.addEventListener("submit", register)

        async function register(e){
            e.preventDefault()
            var email = document.getElementById("email").value
            var password = document.getElementById("password").value
            var confirm_password = document.getElementById("password_confirm").value
            var dob = document.getElementById("dob").value
            var f_name = document.getElementById("f_name").value
            var l_name = document.getElementById("l_name").value
            var phone = document.getElementById("phone").value
            
            var result = fetch('/register', { // await was here
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    email,
                    password,
                    confirm_password,
                    dob,
                    f_name,
                    l_name,
                    phone
                })
            })
            .then((res) => res.json())
            // console.log(res)
        }
    </script>

    
</body>
</html>